server:
  port: 8081

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/ticket-master-db?createDatabaseIfNotExist=true
    username: root
    password: 12345678

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
